@import 'breakpoint';

html {
  font-family: 'Montserrat';
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
