@import 'configs';
@import 'colors';

#app-container {
  background-color: $background;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  // height: 300px;
  // max-height: 800px;
  // overflow: scroll;
  margin: 20px 0;
  display: flex;
  justify-content: center;

  .suspend-row {
    td {
      background-color: #fff0d1;
    }
  }

  table {
    thead {
      tr {
        th {
          height: 50px;
        }
      }
    }

    tbody {
      tr {
        td {
          width: 200px;
          background-color: $light;
          text-align: center;
          height: 40px;
        }
      }
    }
  }
}

.header {
  background-color: $success;
  min-height: 80px;
  display: grid;
  grid-template-columns: 140px 1fr 120px;
  align-items: center;

  .logo {
    text-align: center;

    h4 {
      color: $warning;
      font-weight: 500;
    }
  }

  input {
    height: 50px;
    box-shadow: none;
    border: 0;
    padding: 0 15px;
    font-family: 'Montserrat';
    font-size: 14px;

    &:focus {
      outline: none;
      border: 4px solid $info;
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: none;

  &.modal-show {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: $dark;
    opacity: 0.8;
  }

  .modal-close {
    background: transparent;
    border: 0;
    font-size: 26px;
    padding: 15px;
    color: $background;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  .modal-body {
    border-radius: 4px;
    padding: 15px 20px 15px 15px;
    width: 500px;
    height: 250px;
    background: $light;
    position: relative;
    z-index: 1;

    textarea {
      font-family: 'Montserrat';
      font-size: 14px;
      width: 100%;
      border: 1px solid $border;

      &:focus {
        outline: none;
        border: 1px solid $warning;
      }
    }

    .bottom-group {
      padding: 15px;
      padding-right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.btn {
  color: $light;
  border: 0;
  width: 100px;
  height: 25px;
}

.btn-large {
  width: 200px;
  height: 40px;
}

.btn-default {
  color: $dark;
  background-color: $background;
}

.btn-info {
  background-color: $info;
}

.btn-danger {
  background-color: $danger;
}

.btn-success {
  background-color: $success;
}

.btn-is-loading {
  opacity: 0.5;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

@include desktop {
  .table-wrapper {
  }

  .modal-body {
  }
}

@include tablet {
}

@include phone {
  .table-wrapper {
    padding: 15px;
  }
}

@include small {
  .table-wrapper {
    padding: 15px;
    table {
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3) {
        display: none;
      }
    }
  }

  .modal-body {
    width: 400px !important;
  }
}
